body{
  /* make it look decent enough */
  background: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  z-index: -2;
}


body, html{
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
    margin: 0;
}

label {
  margin: 0;
}

.btn{
  background-color: #37ABAB;
  border: #37ABAB;
}

.btn:hover{
  background-color: #094D4D;  
}


/* ID */
#home_area_search{
  background-color: white;
  color: black;
}

#navbar-logo{
  width: 10vw;
  min-width: 100px;
}

#menuToggle
{
  display: block;
  top: 30px;
  left: calc(100% - 80px);
  width: 100px;
  position: absolute;
  z-index: 6;
}

#home-reviews {
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
  color: black;
  background-color: #fcfeff;
  background: linear-gradient(135deg, #f3f9ff55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #f3f9ff 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #f3f9ff55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #f3f9ff 25%, #fcfeff 25%) 0px 0/ 80px 80px;}

#home-vision {
  background-color: #37ABAB;
  text-align: center;
  padding: 100px;
  color: white;
  background:linear-gradient(0deg, rgba(94, 155, 206, 0.5), rgba(94, 155, 206, 0.5)), url(Media/campus.jpg) no-repeat center fixed;

}

#home-vision p{
  font-size: 20px;
}

#home-reviews p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}

 #home-now-hot {
  background-color: red;
}
#home-areas {
  position: relative;
  margin-top: -100px;
}

#home-types {
  background-color: yellow;
}

#menuToggle a{
  text-decoration: none;
  color: #232323;
  
  
  transition: color 0.3s ease;
}

.burger-menu span{
  background-color: slateblue;
}

  
#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 6; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
   
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 5;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
  
/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
  
/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
  
/*
* Make this absolute positioned
* at the top left of the screen
*/

#menu{
  position: absolute;
  width: 300px;
  padding: 50px;
  border-radius: 20px;
  /*opacity: 0;*/

  background: #fcfeff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  top: -20px;
  left: -250px;
  /*transform-origin: 0% 0%;*/
  transform: translate(120%, 0%);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  z-index: 4;
}
  
#menu li{
  padding: 10px 0;
  font-size: 22px;
}

#menu li:hover{
  font-size: 24px;
  color: #37ABAB;
}
  
/*
* And let's slide it in from the left
*/

#menuToggle input:checked ~ ul{
  transform: none;
}

#content {
    padding: 0;
}

#home_container {
  margin-top: 100vh;
  padding: 0;
}

#register_container {
  margin-top: 20vh;
  margin-bottom: 10vh;
}

#login_container {
  margin-top: 20vh;
  margin-bottom: 10vh;
}

#header{
  background-image: url(Media/aboutusheader.jpg);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  color:black;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  padding-top: 35vh;
}

.my_page_bio {
  color:rgb(255, 255, 255);
  font-size: large;
}

#my_page_email_and_tel{
  color:rgb(255, 255, 255);
  font-size: large;
}

#my_page_bio_text{
  color:rgb(255, 255, 255);
  font-size: large;
}

#my_page_bio_header{
  color:rgb(255, 255, 255);
  font-size: large;
}

#my_page_email_and_tel {
  font-size: large;
}

/* Funkar inte */
#edit_bio_container{
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#edit_form_button{
margin-bottom: 10px;
}


/* Funkar inte */
/* #edit_bio_form{
  border: 10px solid black;
  border: #094D4D;
  outline-color: #094D4D;
  outline: rgb(89, 111, 214);
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
} */

#my_page_placeholder_img {
  background-color:white;
  height: 100px;
  width: 100px;
}

#home_search {
  background-color: white;
  border-radius: 37px;
  margin: 15px auto;  
  width: 60vw;
  height: 8vh;
  min-height: 60px;
  max-height: 100px;
}

/* #home_search_filters {
  margin: 10px;
  border-radius: 37px;
} */

#search_page_container {
  background-color: #e7d8ca;
  padding-top: 100px;
  padding-bottom: 100px;
}

#search_result {
  margin-top: 50px;
}

#contact_header h1 {
  font-size: 80px;
}

#contact_header p {
  font-size: 30px;
}

#contact_page_container {
  text-align: center;
  padding-bottom: 100px;
}

#contact_page_container p {
  line-height: 40px;
  margin: 0px;
}

/* NEW AD PAGE */

#new_ad_page_container {
  background-color: #F0F8FF;  /* #E8CDB5;*/
  padding-top: 100px; 
}

#create_ad_page_container{
  margin-top: 50
}

#new_ad_page_section{
  background-color: #F0F8FF;
}

#new_ad_page{
  background-color: #F0F8FF;
}

/* ::placeholder{ */
  /* color:rgba(173, 173, 173, 0.07) */
/* } */

.ad_input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgb(196, 196, 196);
  font-size: 20px;
}

.ad_label{
  font-size: 20px;
  color: #000000;
}

.ad_options{
  border-bottom: 1px solid rgb(196, 196, 196);
  font-size: x-large;
}

#help_header {
  background: linear-gradient(0deg, rgba(94, 155, 206, 0.5), rgba(94, 155, 206, 0.5)), url(Media/help.jpg) no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 800px;
  padding-top: 300px;
  color: white;
  padding-left: 15vw;
  padding-right: 15vw;
}

#contact_header {
  background: linear-gradient(0deg, rgba(94, 155, 206, 0.5), rgba(94, 155, 206, 0.5)), url(Media/contact.jpeg) no-repeat center fixed;    
  background-size: cover;
  width: 100%;
  height: 80vh;
  padding-top: 300px;
  color: white;
  padding-left: 15vw;
  padding-right: 15vw;
}

#help_header h1 {
  font-size: 80px;
}

#help_header p {
  font-size: 30px;
}

#help_page_container {
  text-align: center;
  padding-bottom: 100px;
}

#help_page_container p {
  line-height: 40px;
  margin: 50px 0;
}

#my_page_container {
  padding-top: 100px;
  padding-bottom: 100px;
  
}
#my_page_background {
   background-color: #e7d8ca /* #F0F8FF; */
}

#my_page_account_info_container{
  background-color: #094D4D;
  border-radius: 20px;
}

#my_page_change_bio_btn{
  border-radius: 50px;

  width:auto;
}

#readmore_img{
  width: 100%;
  border-radius: 20px;
}

#read_more_ad_price{
  font-weight: bolder;
}

#read_more_ad_container {
  margin-top: 100px;
  margin-bottom: 100px;
}

#read_more_map{
  border-radius: 20px;
}

#successfully_registered_page_container {
  margin-top: 100px;
  margin-bottom: 100px;
}

#login_failed_container{
  color: red;
}

#register_failed_container{
  color: red;
}



#map {
  height: 694px;
  -webkit-mask-box-image: url(Media/map.svg);
  -webkit-mask-position: top;
  -webkit-mask-repeat: none;
  -webkit-mask-size: cover;
  mask-border: url(Media/map.svg);
  mask-repeat: none;
  mask-position: top;
  mask-size: cover;
}

#area_facts {
  position: absolute;
  top: 100px;
  left: calc(100vw - 40vw);
}

#about_us_header {
  width: 100vw;
  height: 80vh;
  background-image: url(Media/aboutusheader.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  text-align: center;
  padding-top: 30vh;  
}

#about_us_header h1 {
    font-weight: bolder;
    font-size: 150px;
    color: white;
}

#about_us_page_container {
  text-align: center;
  color: black;
}

#about_us_page_container h2{
  font-size: 60px;
}

#about_us_page_container p{
  font-size: 25px;
  line-height: 45px;
}

#parallax {
  width: 100vw;
  height: 400px;
  background-image: url(media/parallax.jpg);
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

#gruppbild {
  background-image: url(Media/IMG_6639.JPG);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding-top: 100%;
  margin: 0 auto;
  border-radius: 100%;
}

#login_success_container {
  text-align: center;
  height: 80vh;
}

#ines {
  background-image: url(Media/Ines-pp.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 200px;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#jakob {
  background-image: url(Media/Jakob-pp.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 200px;
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

#gustav {
  background-image: url(Media/Gustav-pp.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 200px;
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

#emeli {
  background-image: url(Media/Emeli-pp.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 200px;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#joel {
  background-image: url(Media/Joel-pp.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 200px;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#fredrik {
  background-image: url(Media/Fredrik-pp.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 200px;
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

#albin {
  background-image: url(Media/Albin-pp.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 200px;
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

#staff {
  text-align: center;
  color: black;
  font-size: 30px;
  margin: 200px 0;
}


/* Klasser */

.our_start {
  height: 80vh;
}

.vision {
  height: 70vh;
}

.contacttext {
  font-size: 20px;
  margin: 0px;
  padding-bottom: 5px;
}

.helptext {
  font-size: 25px;
}

.testamonial {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.66);
-webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.66);
-moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.66);
margin: 0 auto;
}

.testamonial .img1 {
  border-radius: 100px;
  width: 150px;
  max-width: 30vw;
  max-height: 30vw;
  height: 150px;
  background-image: url("Media/reviewer_1.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: 30px auto;
}

.search_date {
  background-color: white;
  border-radius: 5px;
  padding: 6px 0;
  margin: 0 5px;
  text-align: center;
}

.testamonial .img2 {
  border-radius: 100px;
  width: 150px;
  max-width: 30vw;
  max-height: 30vw;
  height: 150px;
  background-image: url("Media/reviewer_2.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: 30px auto;
}

.testamonial .img3 {
  border-radius: 100px;
  width: 150px;
  max-width: 30vw;
  max-height: 30vw;
  height: 150px;
  background-image: url("Media/reviewer_3.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: 30px auto;
}

.testamonial h3 {
  font-weight: lighter;
}

.facts_content {
  width: 20vw;
  background-color: white;
  border-radius: 20px;
  color: black;
  min-width: 30vw;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.66);
-webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.66);
-moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.66);
}

.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  /* Style the bubble. */
  padding: 5px;
  font-weight: bolder;
  overflow-y: auto;
  max-height: 60px;
  color: black;
}

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}


.accomodation {
  background-color: white;
  border-radius: 20px;
  color: black;
}

.accomodation button {
  margin: 20px;
}

.accomodation img {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.my_accomodation img {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.accomodation button {
  border-radius: 10px;
}

.map_text{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
  color: black;
  width: 100%;
}

.map_text h1{
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}

.home-areas a:hover {
  color: grey;
}

@media (max-width: 991px) {
  .map_text h1{
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
  }

}
.my_accomodation {
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 10px;
}


.my_tenant {
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 10px;
}

.search_button {
  float: right;  
  width: 40px;
  height: 40px;
  border-radius: 50px;
  
  
}

.read_more_button {
  border-radius: 70px;
}

.read_more_back_button{
  text-align: center; 
  border-radius: 20%;
  margin-top: 100px;
  margin-left: 25px;
  width: 40px;
}

.title_id:hover {
  color: black;
  text-decoration: none;
  background-color: rgb(228, 228, 228);
}

.read_more_description{
  background-color: white;
  border-radius: 20px;
  color: black;   
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headline_startdate{
  text-align: center;
  border-right: olive solid 1px;
}

.headline_enddate{
  text-align: center;
}

.read_more_startdate{
  text-align: center;
  border-right: olive solid 1px;
  
}

.read_more_enddate{
  text-align: center;
}

.attributes {
clear: both;}

.read_more_squaremeters{
  border-right: olive solid 1px;
  text-align: center;
}

.read_more_beds{
  border-right: olive solid 1px;
  text-align: center;
}

.read_more_accomodationtype{
  text-align: center;
}

.read_more_adress{
  text-align: center;
}

.read_more_price_date{
  height: 200px;
  background-color: white;
  border-radius: 20px;
  color: black;   
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.read_more_price{
  text-align: center;
  /* font-weight: bolder; */

}



.footer{
  background-color: #094D4D;
  color:white;
  width: 100%;
}

.failed_container{
  color: red;
}

.no-dot-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover{
  text-decoration: none;
}

.footer a{
  color: white;
}

.last_footer {
  margin: 50px;

}

.section{
  width: 100%;
}  

.no-dot-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.no-border {
  border-style: none;
  border-color: white;
}

a:hover{
  text-decoration: none;
}

.footer a{
  color: white;
}

.section{
  width: 100%;
  margin: 0;
  padding: 0;
}  

.section a {
  color: black;
}

.clickable_class{
  color:red;
  cursor: pointer;
}  

.navbar-style{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 80px;
}

.form-row .form-group {
  margin: 0;
}

.form-control {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* Variables */
* {
  box-sizing: border-box;
}

.result-message {
  line-height: 22px;
  font-size: 16px;
}

.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}

.hidden {
  display: none;
}

#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

#card-element {
  border-radius: 4px 4px 0 0 ;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

#payment-request-button {
  margin-bottom: 32px;
}

/* Buttons and links */
button {
  background: #094D4D;
  color: #ffffff;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

/* .button1 {
  border-radius: 50%;
} */

button:hover {
  filter: contrast(115%);
  background-color: #094D4D;
  color: #094D4D;

}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* Buttons and links */
/* button {
  background: #5469d4;
  color: #ffffff;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
} */
/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }
}


.body1 {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.form1 {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

.input1 {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}

#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

.required:after {
    content:" *";
    color: red;
}
.my_page_menuitem {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.05); 
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.05);
  width: 100%;
  height: 180px;
  background-color: white;
}

.my_page_menuitem {
  color: black;
}

.my_page_menuitem:hover {
  color: black;
  background-color: rgb(228, 228, 228);
}

 /* -----------------------------Dropdown checkbox css --------------------------*/

.dropdown-check-list {
  display: inline-block;
  padding-left: 100px;
  color:grey;
  /* border: none; */
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black; 
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  /* border: 1px solid #ccc; */
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;

.search_page_container {
  background-color: #e7d8ca;
}

.search_page_price {
  text-align: center;
}

#my_page_menu h3 fa-plus{
  color: green;
  background-color: #f10755;
}

.my_page_heading{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

#edit_bio_form_id{
  display: inline-block;

}

/* .my_page_heading{ 
  text-align: center;
  margin-top: 100px;
}*/


/* jhbjknjnjhbjkbjb     Ines testar checkboxes        jhbjhbjbljhbllhjblj */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #FFF;
  border-radius: .2em;
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
  -webkit-transition: all .275s;
      transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✕';
  position: absolute;
  top: .525em;
  left: .18em;
  font-size: 1.375em;
  color: #37ABAB;
  line-height: 0;
  -webkit-transition: all .2s;
      transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}


[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

#testdiv{
  background-color: violet;
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(9, 77, 77, 0.2);
}

#reservation_to_search_button {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  color:white;
  text-align: center; 
  padding-bottom: 30px;
}

#reservation_to_mypage_button {
  color: white;
}