body{
    
}

a:hover{
    text-decoration: none;
}

.footer a{
    color: white;
}

.section{
    width: 100%;
    /*To be removed:*/
    height: 500px;
}

#home-reviews {
    background-color: aqua;
}
#home-now-hot {
    background-color: red;
}
#home-areas {
    background-color: pink;
}
#home-types {
    background-color: yellow;
}

#navbarNavDarkDropdown{
    
}

.header{
    background-color: paleturquoise;
    color:black;
    width: 100%;
    height: 100%;
    height: 90vh;
}

.footer{
    background-color: black;
    color:white;
    width: 100vw;
}

.no-dot-list{
      list-style-type: none;
      margin: 0;
      padding: 0;
}



